
body {
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    background-color: #ffffff;
    margin: 0;
    color: #2e2e2e;
}

p {
    font-size: 1em;
    line-height: 1.6em;
}

a {
    color: #007fff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
}

h1 {
    font-size: 1.5em;
}

h2 {
    font-size: 1.4em;
}

h3 {
    font-size: 1.2em;
}

h4 {
    font-size: 1.1em;
}

header {
    color: #007fff;
    padding: 10px;
    margin: 0;
    box-shadow: 1px 1px #efefef;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    font-size: 1em;
    color: #007fff;
    margin-right: 10px;
}

main {
    width: 50%;
    margin: auto;
}

.green {
    background-color: green;
    padding: 5px;
}

.green p, .red p {
    color: white;
    font-size: 1em;
    line-height: 1.6em;
}

.red {
    background-color: #ff6347;
    padding: 5px;
}

@media(max-width: 768px) {
    main {
        width: 80%;
    }
}