
body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background-color: #ffffff;
    margin: 0;
    color: #414141;
}

p {
    font-size: 1em;
    line-height: 1.8em;
    word-spacing: 0.3px;
    letter-spacing: 0.5pt;
}

strong {
    font-weight: 400;
}

a {
    color: #4dabf7;
    text-decoration: none;
    font-size: 1em;
    font-weight: 400;
}

a:hover {
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
}

h1 {
    font-size: 1.6em;
    color: #2e2e2e;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

header {
    color: #4dabf7;
    padding: 10px;
    margin: 0;
    box-shadow: 1px 1px #efefef;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

ul li {
    display: inline-block;
    font-size: 1em;
    color: #4dabf7;
    margin-right: 10px;
}

main {
    width: 50%;
    margin: auto;
}

section {
    margin-bottom: 10%;
}

@media(max-width: 768px) {
    main {
        width: 80%;
    }
}

