<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Content Analyser</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap" rel="stylesheet">
    
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

  <script src="{{url_for('static', filename='index.js')}}"></script>

</head>
<header>
  <h1>Content Analyser</h1>
  <nav>
    <ul>
      <li><a href="/"> --- Back</a></li>
    </ul>
  </nav>
</header>
<body>
  <main>
    <section id="header">
        <h2>Headline</h2>
        <p>Algorithms used for the headline...</p>
    
        <div>
            <h3>Word Balance</h3>
            <p id="power_word"><strong>Power Word</strong>: Power words also known as phrases indicates intense trigger words that frequently command a reader's attention and action. It is recommended that a headline should contain at least 1 power phrase or word.</p>
    
            <p id="common_word"><strong>Common Word</strong>: Common words make up the basic structure of readable headlines. It is recommended that a headline should be made up of 20 - 30% common words.</p>
    
            <p id="uncommon_word"><strong>Uncommon Word</strong>: Uncommon words occur less frequently than common words, but give your headline substance. It is recommended that a headline should be made up of 10-20% uncommon words.</p>
        </div>
    
        <div>
          <h3>Search Engine Optimisation</h3>
    
          <p id="word_length"><strong>Word Length</strong>: The word length is also a crucial factor, especially for the Search Engine. </p>
    
          <p id="keyword_in_headline"><strong>Keyword in Headline</strong>: Your headline(title) is what to be shown on the search engine, so your focus keyword's appearance is important so that people will know what your content is all about.</p>
    
          <p id="number_in_headline"><strong>Number in Headline</strong>: Though, this isn't really recommended, but if you're writing a content that involves giving lists (for example: 9 ways to make money online), it is crucial to make use of numbers. Odd numbers are the best to use.</p>
        </div>
    </section>
    
        <section id="content">
          <h2>Content</h2>
          <p>Analyses for your content...</p>
              
            <div>
              <h3>Readability</h3>
              <p id="paragraph_analysis"><strong>Paragraph Analysis</strong>: It is certain that your content would surely contain at least a paragraph. And also, you have to make sure your paragraph doesn't contain a lot of words as the user get lost when you have lengthy words.</p>
    
              <p id="heading_analysis"><strong>Heading Analysis</strong>: Actually, you need headings (like h1, h2, h3) in your content, I would say to customise it and like give it some good look too. to </p>
    
              <p id="reading_ease"><strong>Flesch Reading Ease</strong>: The average grade of those who can comprehend your content. This is calculated based on your content's score with its formula, the higher your score, the better and vice-versa. You can read more on the <a href="https://en.wikipedia.org/wiki/Flesch%E2%80%93Kincaid_readability_tests">Wikipedia</a>.</p>
    
              <p id="sentence_length"><strong>Sentence Length</strong>: The number of words in each sentence of every paragraph is also checked, sentence shouldn't contain more than 20 words, you should know that's weird merely thinking of it.</p>
    
              <p id="consecutive_sentences"><strong>Consecutive Sentences</strong>: You need to be careful while starting your sentences, you need to avoid repetition of the same word in each starting of your sentence.</p>
            </div>
    
          <div>
            <h3>Search Engine Optimisation</h3>
    
            <p id="word_length"><strong>Word Length</strong>: There are much arguments on the number of words to write for content. All I know is that it varies, if you're writing a book, then you will write more, if it is a blog post then you can decide to write less based on your blog topic. But the most recommended number of words is the minimum of 1000words (in under any circumstance should you write less than 300 words). The longer the content, the more backlinks, shares and traffic will be generated.</p>
    
            <p id="keyword_in_heading"><strong>Keyword in Heading</strong>: The appearance of your focus keyword is also a good factor to be considered, search engines believed that headings like h1, h2 etc is the structure of your content, and the main idea (focus keyword) ought to appear, though not in all headings. If your keyword should appear in each paragraphs, then you're doing keyword stuffing.</p>
    
            <p id="links"><strong>Links</strong>: Linking to other people's content is so good, even to your own older contents (interlinking), it is a very good ranking factor used by Google and other search engines. It is called backlinking, if your old content is getting more traffic, linking to your new content will pass link juice which will help the new to rank also.</p>
            </div>
          </section>

          <section>
            <h2>Important things</h2>
            <h3>Image</h3>
            <p>Your content must contain at least an image with an image alt attribute. Though, the number of images to be used depends on the number of words, but personally I make do use an image under each heading (which usually contain 200 - 500 words).</p>
          </section>
  </main>
</body>
</html>