<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Content Analyser</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">
  
  <link href="{{url_for('static', filename='analyse.css')}}" rel="stylesheet">

  <script src="{{url_for('static', filename='index.js')}}"></script>

</head>
<header>
  <h1>Content Analyser</h1>
  <nav>
    <ul>
      <li><a href="#">Algorithm</a></li>
      <li><a href="#">Donate</a></li>
    </ul>
  </nav>
</header>
<body>
  <main id="app">

    <section id="header">
    <h2>Headline</h2>
    <p>Analyses for your headline...</p>

    <div>
        <h3>Word Balance</h3>
        <p>Power Word: {{power_word_analysis}}</p>

        <p>Common Word: {{common_word_analysis}}</p>

        <p>Uncommon Word: {{uncommon_word_analysis}}</p>
    </div>

    <div>
      <h3>Search Engine Optimisation</h3>

      <p>Word Length: {{word_length_for_headline}}</p>

      <p>Keyword in Headline: {{keyword_in_headline}}</p>

      <p>Figure in Headline: {{number_in_headline}}</p>
    </div>
    </section>

    <section id="content">
      <h2>Content</h2>
      <p>Analyses for your content...</p>
          
        <div>
          <h3>Text Analysis</h3>
          <p>Paragraph Analysis: {{paragraph_analysis}}</p>

          <p>Heading Analysis: {{heading_analysis}}</p>

          <p>Reading Ease: {{reading_ease_score}}</p>

          <p>Grade Level: {{grade_level_score}}</p></div>

          <p>Sentence Length: {{sentence_length}}</p>

        </div>

      <div>
        <h3>Search Engine Optimisation</h3>

        <p>Word Length: {{content_word_length}}</p>

        <p>Keyword in Heading: {{heading_focus_keyword}}</p>

        <p>Image: {{check_image}}</p>

        <p>Links: {{links_analysis}}</p>
        </div>
      </section>
  </main>
</body>
</html>