<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Content Analyser</title>

  <link href="https://fonts.googleapis.com/css?family=Roboto:400,400i&display=swap" rel="stylesheet">
  
  <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">

  <script src="{{url_for('static', filename='index.js')}}"></script>

</head>
<header>
  <h1>Content Analyser</h1>
  <nav>
    <ul>
      <li><a href="/algorithms">Algorithm</a></li>
    </ul>
  </nav>
</header>
<body>
  <main id="app">

    <section id="header">
    <h2>Headline</h2>
    <p>Analyses for your headline...</p>

    <div>
        <h3>Word Balance</h3>
        <p><a href="/algorithms#power_word">Power Word</a>: {{power_word_analysis}}</p>        

        <p><a href="/algorithms#common_word">Common Word</a>: {{common_word_analysis}}</p>

        <p><a href="/algorithms#uncommon_word">Uncommon Word</a> {{uncommon_word_analysis}}</p>
    </div>

    <div>
      <h3>Search Engine Optimisation</h3>

      <p><a href="/algorithms#word_length">Word Length</a>: {{word_length_for_headline}}</p>

      <p><a href="/algorithms#keyword_in_headline">Keyword in Headline</a>: {{keyword_in_headline}}</p>

      <p><a href="/algorithms#number_in_headline">Number in Headline</a>: {{number_in_headline}}</p>
    </div>
    </section>

    <section id="content">
      <h2>Content</h2>
      <p>Analyses for your content...</p>
          
        <div>
          <h3>Readability</h3>
          <p><a href="/algorithms#paragraph_analysis">Paragraph Analysis</a>: {{paragraph_analysis}}</p>

          <p><a href="/algorithms#heading_analysis">Heading Analysis</a>: {{heading_analysis}}</p>

          <p><a href="/algorithms#reading_ease">Reading Ease</a>: {{reading_ease_score}}</p>

          <p><a href="/algorithms#sentence_length">Sentence Length</a>: {{sentence_length}}</p>

          <!-- <p><a href="/algorithms#consecutive_sentences">Consecutive Sentences</a>: {{consecutive_sentences}}</p> -->

        </div>

      <div>
        <h3>Search Engine Optimisation</h3>

        <p><a href="/algorithms#word_length">Word Length</a>: {{content_word_length}}</p>

        <p><a href="/algorithms#keyword_in_heading">Keyword in Headline</a>: {{heading_focus_keyword}}</p>

        <p><a href="/algorithms#links">Links</a>: {{links_analysis}}</p>   

        </div>
      </section>
  </main>
</body>
</html>